[submodule "frontend"]
	path = frontend
	url = https://github.com/JavaJunction/Book-Rental-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/JavaJunction/Book-Rental-Backend.git
